################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorApp3/DesignTimeBuild
/.vs/BlazorApp3/FileContentIndex
